version: '3.8'

services:
  mongo:
    image: mongo:4.4
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    ports:
      - "5001:5001"
    depends_on:
      - mongo
    volumes:
      - ./backend/uploads:/app/uploads
    env_file:
      - ./backend/.env

  frontend:
    build: ./frontend
    command: npm run build
    volumes:
      - ./frontend/dist:/app/dist
    depends_on:
      - backend

  nginx:
    image: nginx:stable-alpine
    ports:
      - "3000:80"
    volumes:
      - ./frontend/dist:/usr/share/nginx/html
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend

volumes:
  mongo-data:
  backend-uploads:
